@import url(https://fonts.googleapis.com/css?family=Cabin:700);

body {
  padding-top: 2em;
  background-color: #14406eba;
}

.circle-container {
	position: relative;
	perspective: 1000;
	margin: 0 auto;
}

.circle-container:hover .circle {
	transform: rotate3d(45, 45, 0, 180deg);
}

.circle-container:hover .outer-ring {
	transform: rotate3d(45, 0, 0, 180deg);
}

.circle-container:hover .outer-outer-ring {
	transform: rotate3d(0, 45, 0, 180deg);
}

.circle-container, .front, .back {
	width: 175px;
	height: 175px;
	background-color: rgba(0,0,0,0);
}

.circle, .outer-ring, .outer-outer-ring {
	transition: 0.5s;
	transform-style: preserve-3d;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.circle {
	position: relative;
	width: 175px;
	height: 175px;
}

.front, .back {
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	background-color: #fff;
	z-index: 2;
}

.front p {
	margin-top: 1.2em;
	font-family: cabin, sans-serif;
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	color: #c02227;
}

.back {
	transform: rotate3d(45,45,0,180deg);
	background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-logo {
	width: 80%;
	display: block;
	margin: 2em auto;
}

.outer-ring {
	position: absolute;
	top: -10px;
	left: -10px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 191px;
	height: 191px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.outer-outer-ring {
	position: absolute;
	top: -20px;
	left: -20px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 211px;
	height: 211px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}


.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.container div i {
    font-size: 200px;
    color: yellowgreen;
}

.animate{
    animation-name: fly;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.reverse{
    animation-name: reverse;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes reverse {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-650px);
        opacity: 0;
    }
}

@keyframes fly {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(650px);
        opacity: 0;
    }
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    opacity: 0;
}

.img{
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.money{
    animation-name: money;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes money {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(-250px);
    }
}
